<!-- Start your project here-->
<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>My adventure</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
        <!-- Text -->
        <p class="card-text">
            <%= title %> Page
        </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

    </div>
    <div class="card-body card-body-cascade text-center" style="margin-top: auto;">
        <% if (locals.user) { %>
        <form action="/posts/create" method="POST" id="new-post-form">
            <div class="form-group shadow-textarea">
                <label for="exampleFormControlTextarea6">Post's</label>
                <textarea name="content" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                    placeholder="Write something here..." required></textarea>
                <button class="btn btn-outline-info btn-rounded my-4 waves-effect z-depth-0" type="submit">Post</button>
            </div>
        </form>
        <% } %>


    </div>
    <div id="posts-list-container" class="card-body card-body-cascade" style="margin-top: auto;">
        <ul class="list-group list-group-flush">
            <ul class="list-group">
                <% for( post of posts ) { %>
                <br>
                <li class="list-group-item list-group-item-light">
                    <div class="d-flex justify-content-md-between">
                        <div>
                            <a class="text-white btn-floating btn-fb btn-success"><i class="fad fa-blog fa-2x"></i></a>
                            <div style="white-space: pre-wrap"><%= post.content %></div>

                        </div>

                        <div class="d-flex justify-content-md-between">
                            <div>
                                <i class="fad fa-user fa-2x"
                                    style="--fa-secondary-opacity: 1.0; --fa-primary-color: dodgerblue; --fa-secondary-color: gold;"></i>
                                <%=post.user.username%>
                            </div>

                            <% if (locals.user && locals.user.id == post.user.id) { %>
                            <a href="/posts/destroy/<%=post.id%> " class="btn-sm"><i class="fad fa-trash fa-2x"
                                    style="--fa-primary-color: rgb(2, 2, 0); --fa-secondary-color: crimson; --fa-secondary-opacity: 1.0;"></i></a>
                            <% } %>
                        </div>
                    </div>


                    <div id="post-comments" class="m-2">

                        <% if (locals.user) { %>
                        <form action="/comments/create" method="POST">
                            <div class="form-group shadow-textarea">
                                <!-- <label for="exampleFormControlTextarea6">Comment's</label> -->
                                <textarea name="content" class="form-control z-depth-1" rows="2"
                                    placeholder="Write something here..." required></textarea>
                                <input type="hidden" name="post" value="<%=post._id%>">
                                <button class="btn btn-info btn-sm ml-0 comment-form-toggle  waves-effect waves-light"
                                    type="submit">Comment</button>
                            </div>
                        </form>
                        <% } %>


                        <div id="post-comments-list">
                            <ul id="post-comments-<%= post._id %>  ">
                                <% for( comment of post.comments ) { %>
                                <div class="d-md-flex justify-content-md-between">
                                    <div style="white-space: pre-wrap"><%= comment.content %></div>
                                    <span> &nbsp -<%=comment.user.username%> </span>
                                    <% if (locals.user && locals.user.id == comment.user.id) { %>
                                    <a href="/comments/destroy/<%=comment.id%> " class="btn-sm"><i class="fad fa-trash fa-2x"
                                            style="--fa-primary-color: rgb(2, 2, 0); --fa-secondary-color: crimson; --fa-secondary-opacity: 1.0;"></i></a>
                                    <% } %>

                                </div>
                                <% } %>
                            </ul>

                        </div>
                    </div>

                </li>
                <% } %>
            </ul>
        </ul>
    </div>
    <br>
    <!-- Card content End-->


</div>
<!-- Card End-->


<!-- End your project here-->